.contact {
	display: flex;
	background-color: $contactBG;
	padding: 15px 50px 15px 15px;
	position: relative;
	border-radius: 10px;
	overflow: auto;
	cursor: pointer;
	&__avatar {
		flex-grow: 0;
		flex: 0 0 70px;
		height: 70px;
		margin: 0px 10px 0px 0px;
		border-radius: 50%;
		overflow: hidden;
		align-self: center;	
	}
	&__info {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		overflow: hidden;
		justify-content: space-between;
	}
	&__name {
		@include bold();
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&__phone {
		display: block;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
	&__phone-link {
		position: absolute;
		right: 0;
		top: 50%;
		transform: translate(-10px, -50%);
		
		&:hover .contact__phone-icon {
			filter: invert(1);
		}
		&:focus .contact__phone-icon {
			filter: invert(1);
		}
	}

	&__email {
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		font-size: 13px;
	}
	&--favorite {
		.contact__avatar {
			border: 5px solid $favoriteAvatarBorder;
		}
	}
	@media (max-width: $xs) {
		padding: 15px 50px 15px 5px;
	}
}

